<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sqlTool.Properties.Settings.contact" connectionString="user id=xiaojun;server=localhost;persistsecurityinfo=True;database=contact"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>